@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fafafa;
  color: #333;
  overflow-x: hidden;
}

main {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #000000;
  padding: 16px 0;
  color: #f1f1f1;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 13px;
}

.displaynone {
  display: none;
}

.wrap-container {
  margin: 0 auto;
}


/* Goal list*/
@keyframes slide-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(-70px);
    opacity: 1;
  }
}

.goal-card-blur {
  opacity: 0;
}

.goal-card-loaded {
  animation: slide-up 0.6s ease-out forwards;
}

.goal-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 1000px;
}


.goal-searching {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rollAndSpin {
  0% {
    transform: translateX(-100%) rotate(0deg);
  }

  100% {
    transform: translateX(0%) rotate(360deg);
  }
}

.goal-searching-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.goal-searching-txt {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 50px;
  animation: typing 3s steps(40, end) infinite;
}

.goal-searching-txt.container {
  width: 40%;
}

.goal-searching-soccer-ball-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


.goal-searching-soccer-ball-spinner {
  display: none;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;

}

.goal-searching-soccer-ball-spinner.show {
  display: flex;
}

.goal-searching-soccer-ball-spinner-moving {
  display: flex;
  width: 100%;
  height: 150px;
  transform: translateX(-100%);
  animation: rollAndSpin 3s ease-out forwards;
  ;
}


.goal-searching-icon circle {
  fill: #201f1f;
}

.goal-list {
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}



.goal-list-results {
  align-self: flex-start;
  font-size: 20px;
  margin-left: 20px;
}

.goal-list-results span {
  font-weight: bold;
}

.goal-card {
  color: rgb(13, 13, 13);
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-top: 60px;
  width: 80%;
}

.goal-title {
  font-size: 17px;
  color: rgb(3, 3, 3);
  font-weight: 800;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.goal-description {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #545454;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.goal-video {
  filter: brightness(70%);
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.goal-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(130%);
}

.goal-vote-form {
  margin-top: -58px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  background-color: #ffffff;
  color: #000;
  padding: 20px;
}

.goal-form-message {
  margin-top: 20px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.goal-vote-form.visible {
  max-height: 600px;
}

.goal-input-class::placeholder {
  color: #b0b0b0;
  font-size: 17px;
  font-family: Arial, sans-serif;
  /* or any other font you prefer */
}

.goal-input-class {
  background-color: #f0efef;
  color: #000;
  padding: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 1px;
}

.goal-vote-form form {
  color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.vote-button {
  width: 80%;
  height: 48px;
  font-size: 18px;
  background-color: #f1f1f1;
  color: #da2121;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 0.1s, transform 0.1s;

  /* Adjust the border thickness here */
}

.vote-button:hover {
  background-color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.goal-showForm-button {
  width: 80%;
  height: 48px;
  font-size: 18px;

  background-color: #ffffff;
  color: #000000;
  border: 2px solid lightgrey;

  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s, transform 0.3s;
}

.vote-button-red {
  width: 80%;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background-color: #e80707;
  color: #fcfcfc;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s, transform 0.3s;
}

.goal-vote-google-button {
  width: 35%;

  font-size: 40px;
  color: #ffffff !important;
  background-color: #000000 !important;
}

.goal-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #a59e9e;
  margin: 10px 0;
  font-size: 20px;
}

.goal-divider:before,
.goal-divider:after {
  content: "";
  flex-grow: 1;
  background: #a59e9e;
  height: 2px;
  margin: 30px 20px;
}

/* ranking */
.ranking-goal-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 300px;
}

.ranking-goal-container label {
  display: flex;
  position: relative;
  color: white;
  background-color: black;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
}

.ranking-goal-card {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 40px;
  margin-bottom: 2px;
  width: 100%;
  border: 1px solid #dddddd;
}

.ranking-number-position {
  font-size: 20px;
}

.ranking-nav-login-logo {
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 40px;
  height: 20px;
  display: flex;
}

.ranking-nav-arrowback {
  cursor: pointer;
  position: absolute;
  fill: none;
  stroke: #fff;
  height: 65px;
  top: 0;
  left: 20px;
}

.ranking-nav-center span {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.ranking-nav-left a {
  cursor: pointer;
}

.ranking-nav-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}

.ranking-nav-link:hover {
  color: red;
}

.ranking-nav-left {
  display: flex;
  align-items: center;
}

.ranking-title-position {
  margin-right: 30px;
  margin-left: -60px;
  font-size: 30px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.ranking-nav-top10 {
  font-size: 35px;
  margin-left: 100px;
}

.ranking-nav-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  width: 70%;
  margin: auto;
}

.ranking-nav-text-img {
  margin-top: 0px;
}

.ranking-goal-user-pick {
  margin-top: 20px;
}

@media (hover: hover) and (pointer: fine) {
  .ranking-goal-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5f0f0;
  }
}

.ranking-goal-title {
  margin-left: 30px;
  margin-top: 30px;
  color: rgb(57, 55, 55);
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  padding-left: 40px;
}

.ranking-goal-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  color: #3b3838;
  margin-bottom: 30px;
}

.separator {
  color: black;
  margin: 0 5px;
}

.ranking-goal-video {
  width: 100%;
  height: 0;
  padding-bottom: 43.25%;
  position: relative;
}

.ranking-video-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.percentage-container {
  position: relative;
  display: none;
  width: 60%;
  height: 15px;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
}

.percentage-filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(205, 73, 73);
}

.votesPercent {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(15, 14, 14);
  font-size: 14px;
}

.ranking-position {
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 50;
  color: white;
  background-color: #1b1c1d;
  font-size: 20px;
  display: flex;
  height: 80%;
  left: 0;
  padding: 10px;
  width: 20px;
  top: 0;
  margin-top: 2px;
}

.ranking-goal-card.isActive {
  background-color: #1b1c1d;
  box-shadow: none;
}

.ranking-goal-card.isActive .ranking-goal-title,
.ranking-goal-card.isActive .ranking-goal-description,
.ranking-goal-card.isActive .separator {
  color: #ffffff;
}

.ranking-goal-card.isActive .votesPercent {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  color: #000000;
}

.ranking-goal-card.isActive .percentage-filled {
  color: #000000;
}

.ranking-goal-card.isActive .percentage-container {
  display: inline-block;
  height: 30px;
  width: 700px;
  margin-left: 100px;
}

.ranking-goal-card.isActive .ranking-position {
  opacity: 0;
  width: 0.05%;
  margin-top: 10px;
  height: 2%;
}

.ranking-goal-card.isActive:hover {
  box-shadow: none;
}

/* Login popup */

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 120%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  gap: 20px;
  z-index: 9999;
  /* Add styles for the loading spinner or progress bar */
}

.soccer-ball-spinner {
  width: 50px;
  /* Adjust the size as needed */
  height: 50px;
  /* Adjust the size as needed */

  animation: spin 1s linear infinite;
  /* Apply the spinning animation */
}

.ball-container {
  margin-top: 350px;
  width: 50px;
  /* Adjust the size as needed */
  height: 50px;
  /* Adjust the size as needed */
  overflow: hidden;
  border-radius: 60%;
}

.vote-message-top10 {
  color: red;
}

.vote-message {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-weight: bold;
  color: #000;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.vote-message-top10::after {
  color: red;
  content: ".";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }

  80%,
  100% {
    content: "";
  }
}



.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 90%;
  padding: 32px;
  border-radius: 100px;
  opacity: 90%;
}

.login-modal h2 {
  margin-bottom: 16px;
  font-size: 32px;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.login-modal input {
  padding: 8px;
  border: 1px solid #121010;
  border-radius: 4px;
}

.login-modal button[type="submit"]:hover {
  background-color: #34495e;
}

.close-modal {
  background: transparent;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.social-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social-login-text {
  margin-bottom: 30px;
  margin-top: 30px;
}

.googleLogin,
.facebookLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* Nav-bar-desktop*/
.nav-bar {
  display: flex;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 80px;
  padding-bottom: 16px;
  background-color: #000000;
  flex-direction: column;
  color: white;
  position: sticky;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  width: 100px;
  display: flex;
  align-items: center;
}



.nav-center {
  width: 70%;
  margin-top: 30px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  /* Adjust this value as needed */
}

.nav-text-img img {
  margin-top: 10px;
  width: 100%;
}



.nav-top-goals-msg {
  margin: 20px;
  font-size: 14px;
  margin-left: 16px;
}

.nav-login-logo {
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 40px;
  height: 20px;
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}

.nav-link:hover {
  color: red;
}

.nav-search {
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: center;
  width: 70%;
  margin-left: 10%;
  border-radius: 3px;

}

.nav-search-overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 99;
  /* Ensure it's above other content */
  display: none;
  /* Hidden by default */
}

.nav-search-overlay.active {
  display: block;
}

.nav-search-icon {
  fill: #000;
  margin-bottom: 0px;
  height: 60%;
  width: 5%;
}

.nav-search-responsive {
  display: none;
}


.nav-search input {

  width: 100%;
  height: 90%;
  border-radius: 4px;
  border: none;
}

.nav-search input:focus {

  outline: none;
  border: none;
}

/* Hero */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    transform: translateY(60px);
    opacity: 1;
  }
}

.hero-container {}

.hero-container img {
  height: 120vh;
  width: 100%;
  filter: brightness(30%);
}

.hero-text-over-image {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero-text-over-image-text1 {
  font-size: 100px;
  margin-bottom: 30px;
}

.hero-text-over-image-text2 {}

.hero-text-over-image-text3 {
  color: red;
}

.hero-scroll-down {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15%;
  left: 45%;
  color: white;
  animation: bounce 3s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

.hero-scroll-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.hero-arrows {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  transform: rotate(90deg) scaleY(1.5);
}

.hero-arrow2 {}


/* Intro */
.intro-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
}

.intro-boxes {
  margin-top: -50px;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
}



.intro-box {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 320px;
  border: solid 1px;
  background-color: #fffcfc;
  border-radius: 15px 0px 15px 0px;
}


.intro-box:hover {
  background-color: #000;
  color: #fff;
}

.intro-box-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.intro-box-container h3 {
  margin-bottom: 25px;
  margin-top: 5px;
}

.intro-box-container p {
  margin: 0;
  font-size: 17px;
  text-align: center;
}

.intro-balls-image {
  margin-top: 5%;
  width: 100%;
  height: 110%;
}

.intro-balls-image img {
  height: 70%;
  width: 100%;
  border: none;
}

.intro-icons {
  fill: #eb0a0a;
  width: 80px;
  height: 80px;
}

.intro-icons-iconTv {
  fill: none;
  stroke: #eb0a0a;
  width: 80px;
  height: 80px;
}


/* Admin page */
.admin-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.admin-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.admin-page-form-group {
  margin-bottom: 10px;
}

.admin-page-input-field {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-page-submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-page-submit-button:hover {
  background-color: #45a049;
}

/* privacy policy*/
.privacy-policy-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  font-size: 15px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.privacy-policy-modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.privacy-policy-modal p {
  margin-bottom: 10px;
}

.privacy-policy-modal a {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.privacy-policy-modal a:hover {
  color: #333;
}

.privacy-policy-modal button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.privacy-policy-modal button:hover {
  background-color: #333;
}

.privacy-policy-link {
  margin-bottom: 15px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
}

@media only screen and (max-width: 1820px) {
  .goal-list {
    width: 45%;
  }

  .goal-card {
    width: 100%;
  }
}

@media only screen and (max-width: 1620px) {
  .goal-list {
    width: 50%;
  }

  .goal-card {
    width: 100%;
  }
}

@media only screen and (max-width: 1420px) {
  .goal-list {
    width: 60%;
  }

  .goal-card {
    width: 100%;
  }
}

/* Media queries for mobile devices up to iPhone Pro */
@media only screen and (max-width: 700px) {

  /* goalCard */
  body {
    background-color: #ffffff;
  }

  .ball-container {
    margin-top: 200px;
  }

  .goal-goals {
    width: 100%;
  }

  .goal-list {
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    gap: 34px;
    margin-top: 50px;
    width: 95%;
  }

  .goal-list-results {
    font-size: 15px;
  }

  .goal-container {
    width: 100%;
  }

  .goal-card {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: none;
    filter: brightness(100%);
    margin-top: 100px;
    padding: 0px;
    width: 100%;
  }

  .goal-description {
    display: none;
  }

  .goal-form-message {
    font-size: 10px;
  }

  .goal-input-class {
    background-color: #f0efef;
    padding: 18px;
    width: 100%;
  }

  .goal-input-class::placeholder {
    color: #cac8c8;
    font-size: 22px;
  }


  .goal-title {
    font-size: 15px;
  }

  .goal-video {
    filter: brightness(110%);
    height: 0;
    width: 100%;
  }

  .goal-vote-form {
    background-color: #ffffff;
    filter: brightness(100%);
    margin-top: -58px;
  }

  .goal-vote-google-button {
    width: 90%;
  }

  .goal-searching-soccer-ball-spinner-moving {
    display: flex;
    width: 100%;
    height: 80px;
    transform: translateX(-100%);
    animation: rollAndSpin 2s ease-out forwards;
    ;
  }

  .goal-searching-txt {
    font-size: 20px;
  }

  .hero-arrows {
    font-size: 14px;
  }

  .hero-container img {
    filter: brightness(30%);
    height: 100vh;
    object-fit: cover;
    width: 100vw;
  }

  .hero-scroll-down {
    bottom: 12%;
    left: 28%;
  }

  .hero-scroll-text {
    font-size: 20px;
  }

  .hero-text-over-image {
    font-size: 30px;
    left: 40%;
    top: 50%;
  }

  .hero-text-over-image-text1 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  /* intro */
  .intro-balls-image {
    display: none;
  }

  .intro-box {
    width: 320px;
  }

  .intro-boxes {
    flex-direction: column;
    gap: 70px;
  }

  .intro-container {
    margin-bottom: 100px;
  }

  .login-modal {
    margin-top: 100px;
    width: 60%;
  }


  .nav-bar {
    flex-direction: row;
    height: 30px;
    padding-top: 10px;

  }

  .nav-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: start;
    margin-left: 0px;
  }

  .nav-text-img img {
    width: 90%;
    margin-left: 3%;
  }

  .nav-text-img {
    width: 30%;
    margin-left: 2%;
  }

  .nav-link {
    font-size: 15px;
  }

  .nav-login-logo,
  .ranking-nav-login-logo {
    height: 16px;
    margin-left: 2px;
  }

  .nav-search {
    display: none;
  }

  .nav-search-responsive {
    display: flex;

  }

  .nav-search-responsive input {
    border: 1px solid #ccc;

    font-size: 15px;
    height: 20px;
    margin-top: 5px;
    padding: 4px;
    touch-action: manipulation;
    width: 220px;
  }




  .nav-title1,
  .ranking-nav-title1 {
    font-size: 13px;
    margin-left: 70px;
  }

  .nav-title2 {
    font-size: 18px;
  }

  .nav-top-goals-msg {
    font-size: 12px;
    margin: 10px;
    margin-left: 8px;
  }

  .percentage-container {
    background-color: #eee;
    border-radius: 4px;
    bottom: 0;
    display: none;
    height: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 60px;
    position: relative;
    width: 100%;
  }

  .privacy-policy-modal {
    font-size: 11px;
  }

  .ranking-container {
    margin-bottom: 500px;
    margin-left: 0px;
    padding: 0px;
    width: 92%;
  }

  .ranking-goal-card {
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }

  .ranking-goal-card.isActive {
    box-shadow: none;
    height: 300px;
    position: relative;
  }

  .ranking-goal-card.isActive .percentage-container {
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    width: 400px;
  }

  .ranking-goal-card.isActive .ranking-goal-title {
    bottom: 0;
    color: #ffffff;
    font-size: 7px;
    left: 0;
    margin-bottom: 10px;
    margin-left: 0px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 400px;
  }

  .ranking-goal-card.isActive .votesPercent {
    color: #000000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
  }

  .ranking-goal-container {
    width: 100%;
  }

  .ranking-goal-container label {
    margin-left: 0px;
    width: 100%;
  }

  .ranking-goal-description {
    display: none;
  }

  .ranking-goal-title {
    font-size: 12px;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 30px;
    width: 100%;
  }

  .ranking-nav-title1 {
    font-size: 12px;
    margin-left: 50px;
    margin-right: 0px;
  }

  .ranking-nav-title2 {
    font-size: 20px;
    margin-left: -10px;
    margin-right: 10px;
  }

  .ranking-nav-top10 {
    display: none;
  }

  .ranking-nav-top10-responsive {
    display: flex;
    font-size: 35px;
    font-weight: 550;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 10px;
  }

  .ranking-nav-arrowback {
    cursor: pointer;
    position: absolute;
    fill: none;
    stroke: #fff;
    height: 40px;
    top: 5px;
    left: 15px;
  }

  .ranking-nav-center span {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
  }

  .ranking-position {
    font-size: 16px;
    height: 60%;
    padding: 8px;
    width: 18px;
  }

  .ranking-title-position {
    font-size: 30px;
    margin-left: -20px;
    margin-right: 20px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  }

  .ranking-video-iframe {
    height: 250px;
    margin-bottom: 50px;
    margin-left: -10px;
    margin-top: 0px;
    position: absolute;
    width: 100%;
  }

  .vote-button {
    margin-top: -20px;
    height: 30px;
  }

  .vote-button-red {
    height: 35px;
  }

  .vote-message {
    font-size: 22px;
  }

  .vote-message div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .votesPercent {
    font-size: 12px;
  }
}




/* Media queries for medium-sized screens */
@media only screen and (min-width: 700px) and (max-width: 1200px) {

  /* goalCard */
  body {
    background-color: #ffffff;
  }

  .ball-container {
    margin-top: 200px;
  }

  .goal-goals {
    width: 105%;
  }

  .goal-list {
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    gap: 34px;
    margin-top: 50px;
    width: 80%;
  }

  .goal-list-results {
    font-size: 15px;
  }


  .goal-card {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: none;
    filter: brightness(100%);
    margin-top: 100px;
    padding: 0px;
    width: 100%;
  }

  .goal-description {
    display: none;
  }

  .goal-form-message {
    font-size: 10px;
  }

  .goal-input-class {
    background-color: #f0efef;
    padding: 18px;
    width: 100%;
  }

  .goal-input-class::placeholder {
    color: #cac8c8;
    font-size: 22px;
  }


  .goal-title {
    font-size: 15px;
  }

  .goal-video {
    filter: brightness(110%);
    height: 0;
    width: 100%;
  }

  .goal-vote-form {
    background-color: #ffffff;
    filter: brightness(100%);
    margin-top: -58px;
  }

  .goal-vote-google-button {
    width: 90%;
  }

  .goal-searching-soccer-ball-spinner-moving {
    display: flex;
    width: 100%;
    height: 80px;
    transform: translateX(-100%);
    animation: rollAndSpin 2s ease-out forwards;
    ;
  }

  .goal-searching-txt {
    font-size: 20px;
  }

  .hero-arrows {
    font-size: 14px;
  }

  .hero-container img {
    filter: brightness(30%);
    height: 100vh;
    object-fit: cover;
    width: 100vw;
  }

  .hero-scroll-down {
    bottom: 22%;
    left: 43%;
  }

  .hero-scroll-text {
    font-size: 20px;
  }

  .hero-text-over-image {
    font-size: 30px;
    left: 30%;
    top: 40%;
  }

  .hero-text-over-image-text1 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  /* intro */
  .intro-balls-image {
    display: none;
  }

  .intro-box {
    width: 760px;
    height: 250px;

  }

  .intro-boxes {
    flex-direction: column;
    gap: 70px;
    margin-top: -20px;
  }

  .intro-container {
    margin-bottom: 50px;
  }

  .login-modal {
    margin-top: 100px;
    width: 60%;
  }


  .nav-bar {
    flex-direction: row;
    height: 20px;
    padding-top: 10px;

  }

  .nav-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: start;
    margin-left: 0px;
  }

  .nav-text-img img {
    width: 150px;
    margin-left: 3%;
  }

  .nav-text-img {
    width: 25%;
    margin-left: 2%;
  }

  .nav-link {
    font-size: 15px;
  }

  .nav-login-logo,
  .ranking-nav-login-logo {
    height: 16px;
    margin-left: 2px;
  }

  .nav-search {
    display: none;
  }

  .nav-search-responsive {
    display: flex;
    width: 60%;
    margin-left: 30px;

  }

  .nav-search-responsive input {
    border: 1px solid #ccc;

    font-size: 15px;
    height: 20px;
    margin-top: 5px;
    padding: 4px;
    touch-action: manipulation;
    width: 100%;
  }




  .nav-title1,
  .ranking-nav-title1 {
    font-size: 13px;
    margin-left: 70px;
  }

  .nav-title2 {
    font-size: 18px;
  }

  .nav-top-goals-msg {
    font-size: 12px;
    margin: 10px;
    margin-left: 8px;
  }

  .percentage-container {
    background-color: #eee;
    border-radius: 4px;
    bottom: 0;
    display: none;
    height: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 60px;
    position: relative;
    width: 100%;
  }

  .privacy-policy-modal {
    font-size: 11px;
  }

  .ranking-container {
    margin-bottom: 500px;
    margin-left: 0px;
    padding: 0px;
    width: 92%;
  }

  .ranking-goal-card {
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }

  .ranking-goal-card.isActive {
    box-shadow: none;
    height: 300px;
    position: relative;
  }

  .ranking-goal-card.isActive .percentage-container {
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    width: 400px;
  }

  .ranking-goal-card.isActive .ranking-goal-title {
    bottom: 0;
    color: #ffffff;
    font-size: 7px;
    left: 0;
    margin-bottom: 10px;
    margin-left: 0px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 400px;
  }

  .ranking-goal-card.isActive .votesPercent {
    color: #000000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
  }

  .ranking-goal-container {
    width: 100%;
  }

  .ranking-goal-container label {
    margin-left: 0px;
    width: 100%;
  }

  .ranking-goal-description {
    display: none;
  }

  .ranking-goal-title {
    font-size: 12px;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 30px;
    width: 100%;
  }

  .ranking-nav-title1 {
    font-size: 12px;
    margin-left: 50px;
    margin-right: 0px;
  }

  .ranking-nav-title2 {
    font-size: 20px;
    margin-left: -10px;
    margin-right: 10px;
  }

  .ranking-nav-top10 {
    display: none;
  }

  .ranking-nav-top10-responsive {
    display: flex;
    font-size: 35px;
    font-weight: 550;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 10px;
  }

  .ranking-position {
    font-size: 16px;
    height: 60%;
    padding: 8px;
    width: 18px;
  }

  .ranking-title-position {
    font-size: 30px;
    margin-left: -20px;
    margin-right: 20px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  }

  .ranking-video-iframe {
    height: 250px;
    margin-bottom: 50px;
    margin-left: -10px;
    margin-top: 0px;
    position: absolute;
    width: 100%;
  }


  .vote-button {
    margin-top: -20px;
    height: 30px;
  }

  .vote-button-red {
    height: 35px;
  }

  .vote-message {
    font-size: 22px;
  }

  .vote-message div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .votesPercent {
    font-size: 12px;
  }
}

/* Media queries for landscape mode */
@media only screen and (min-device-width: 320px) and (max-device-width: 950px) and (orientation: landscape) {

  /* goalCard */
  body {
    background-color: #f7f7f7;
  }

  .ball-container {
    margin-top: 200px;
  }

  .goal-goals {
    width: 105%;
  }

  .goal-list {
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    gap: 34px;
    margin-top: 50px;
    width: 100%;
  }

  .goal-list-results {
    font-size: 15px;
  }


  .goal-card {

    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: none;
    filter: brightness(100%);
    margin-top: 100px;
    padding: 0px;
    width: 60%;
    margin-left: 20%;

    object-fit: fill;
  }



  .goal-description {
    display: none;
  }

  .goal-form-message {
    font-size: 10px;
  }

  .goal-input-class {
    background-color: #f0efef;
    padding: 18px;
    width: 100%;
  }

  .goal-input-class::placeholder {
    color: #cac8c8;
    font-size: 22px;
  }


  .goal-title {
    font-size: 15px;
  }



  .goal-vote-form {
    background-color: #ffffff;
    filter: brightness(100%);
    margin-top: -58px;
  }

  .goal-vote-google-button {
    width: 90%;
  }

  .goal-searching-soccer-ball-spinner-moving {
    display: flex;
    width: 100%;
    height: 80px;
    transform: translateX(-100%);
    animation: rollAndSpin 2s ease-out forwards;
    ;
  }

  .goal-searching-txt {
    font-size: 20px;
  }

  .hero-arrows {
    font-size: 14px;
  }

  .hero-container img {
    filter: brightness(30%);
    height: 100vh;
    object-fit: cover;
    width: 100vw;
  }

  .hero-scroll-down {
    bottom: 22%;
    left: 43%;
  }

  .hero-scroll-text {
    font-size: 20px;
  }

  .hero-text-over-image {
    font-size: 30px;
    left: 30%;
    top: 40%;
  }

  .hero-text-over-image-text1 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  /* intro */
  .intro-balls-image {
    display: none;
  }

  .intro-box {
    width: 760px;
    height: 250px;

  }

  .intro-boxes {
    flex-direction: column;
    gap: 70px;
    margin-top: -20px;
  }

  .intro-container {
    margin-bottom: 50px;
  }

  .login-modal {
    margin-top: 100px;
    width: 60%;
  }


  .nav-bar {
    flex-direction: row;
    height: 20px;
    padding-top: 10px;

  }

  .nav-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: start;
    margin-left: 0px;
  }

  .nav-text-img img {
    width: 150px;
    margin-left: 3%;
  }

  .nav-text-img {
    width: 25%;
    margin-left: 2%;
  }

  .nav-link {
    font-size: 15px;
  }

  .nav-login-logo,
  .ranking-nav-login-logo {
    height: 16px;
    margin-left: 2px;
  }

  .nav-search {
    display: none;
  }

  .nav-search-responsive {
    display: flex;

  }

  .nav-search-responsive input {
    border: 1px solid #ccc;

    font-size: 15px;
    height: 20px;
    margin-top: 5px;
    padding: 4px;
    touch-action: manipulation;
    width: 550px;
  }




  .nav-title1,
  .ranking-nav-title1 {
    font-size: 13px;
    margin-left: 70px;
  }

  .nav-title2 {
    font-size: 18px;
  }

  .nav-top-goals-msg {
    font-size: 12px;
    margin: 10px;
    margin-left: 8px;
  }

  .percentage-container {
    background-color: #eee;
    border-radius: 4px;
    bottom: 0;
    display: none;
    height: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 60px;
    position: relative;
    width: 100%;
  }

  .privacy-policy-modal {
    font-size: 11px;
  }

  .ranking-nav-arrowback {
    cursor: pointer;
    position: absolute;
    fill: none;
    stroke: #fff;
    height: 40px;
    top: 0;
    left: 20px;
  }

  .ranking-nav-center span {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }

  .ranking-container {
    margin-bottom: 500px;
    margin-left: 0px;
    padding: 0px;
    width: 92%;
  }

  .ranking-goal-card {
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }

  .ranking-goal-card.isActive {
    box-shadow: none;
    height: 300px;
    position: relative;
  }

  .ranking-goal-card.isActive .percentage-container {
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    width: 400px;
  }

  .ranking-goal-card.isActive .ranking-goal-title {
    bottom: 0;
    color: #ffffff;
    font-size: 7px;
    left: 0;
    margin-bottom: 10px;
    margin-left: 0px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 400px;
  }

  .ranking-goal-card.isActive .votesPercent {
    color: #000000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
  }

  .ranking-goal-container {
    width: 100%;
  }

  .ranking-goal-container label {
    margin-left: 0px;
    width: 100%;
  }

  .ranking-goal-description {
    display: none;
  }

  .ranking-goal-title {
    font-size: 12px;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 30px;
    width: 100%;
  }

  .ranking-nav-title1 {
    font-size: 12px;
    margin-left: 50px;
    margin-right: 0px;
  }

  .ranking-nav-title2 {
    font-size: 20px;
    margin-left: -10px;
    margin-right: 10px;
  }

  .ranking-nav-top10 {
    display: none;
  }

  .ranking-nav-top10-responsive {
    display: flex;
    font-size: 35px;
    font-weight: 550;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 10px;
  }

  .ranking-position {
    font-size: 16px;
    height: 60%;
    padding: 8px;
    width: 18px;
  }

  .ranking-title-position {
    font-size: 30px;
    margin-left: -20px;
    margin-right: 20px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  }

  .ranking-video-iframe {
    height: 250px;
    margin-bottom: 50px;
    margin-left: -10px;
    margin-top: 0px;
    position: absolute;
    width: 100%;
  }

  .vote-button {
    margin-top: -20px;
    height: 30px;
  }

  .vote-button-red {
    height: 35px;
  }

  .vote-message {
    font-size: 22px;
  }

  .vote-message div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .votesPercent {
    font-size: 12px;
  }
}