@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  color: #333;

  overflow-x: hidden;
}

header {
  background-color: #2c3e50;
  padding: 16px 0;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

main {
  padding: 32px 0;
}

footer {
  background-color: #000000;
  padding: 16px 0;
  color: #f1f1f1;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 13px;
}
.blur {
  filter: blur(1.5px);
}

.displaynone {
  opacity: 0;
}
.container {
  margin: 0 auto;
}

/* Landing Page */

.landing-page {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}
.landing-page-logo img {
  align-items: center;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 50px;
  height: 160px;
  width: 200px;
}

.landing-page-text1 {
  margin-top: 200px;
  font-size: 24px;
  margin-bottom: 40px;
  color: #ffffff;
}
.landing-page-text2 {
  font-size: 24px;
  margin-bottom: 70px;
  color: #ffffff;
}

.landing-page-main-text {
  text-align: center;
  width: 500px;
  margin-top: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}
.landing-page-main-text h1 {
  color: white;
  font-size: 80px;
}

/* Landing Page Image */

.landing-page .landing-image {
  max-width: 100%;
  height: auto;
}

/* Image Caption */
.landing-page .image-caption {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}

/* CTA Button */
.landing-page .landing-page-btn {
  align-items: center;
  display: flex;
  position: relative;
  color: #ffffff;
  background-color: #ff0000;
  font-size: 20px;
  padding: 20px 50px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.landing-page .landing-page-btn:hover {
  background-color: #ff3333;
}

/* Goal list*/
.goal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.goal-card {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 800px; /* Limit the width of the goal card */
  width: 100%; /* Make the goal card responsive */
}
.goal-title {
  font-size: 28px; /* Increase the font size for better readability */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Center align the title */
}

.goal-description {
  font-size: 18px; /* Increase the font size for better readability */
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5; /* Improve the line spacing for better readability */
}

.goal-video {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 94px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.goal-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.goal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.vote-button {
  width: 90%;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background-color: #0b0c0a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s, transform 0.3s;
}
.vote-button-red {
  width: 90%;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background-color: #e80707;
  color: #fcfcfc;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s, transform 0.3s;
}
.vote-button-red:hover {
  background-color: #bcc6d0;
  transform: translateY(-2px);
}
.vote-button:hover {
  background-color: #bcc6d0;
  transform: translateY(-2px);
}

/* ranking */

.ranking-container {
  margin-left: 100px;
  width: 1800px;
  margin-bottom: 500px;
}

.ranking-goal-card {
  position: relative;
  background-color: #ffffff;
  padding: 20px;

  margin-bottom: 2px;
  width: 70%;
  border: 1px solid #dddddd; /* Add a subtle border */
}

@media (hover: hover) and (pointer: fine) {
  .ranking-goal-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5f0f0;
  }
}
.ranking-goal-title {
  margin-left: 30px;
  margin-top: 30px;
  color: rgb(57, 55, 55);
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  padding-left: 40px;
}

.ranking-goal-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  color: #3b3838;
  margin-bottom: 30px;
}

.separator {
  color: black;
  margin: 0 5px;
}

.ranking-goal-video {
  width: 100%;
  height: 0;
  padding-bottom: 43.25%; /* 16:9 aspect ratio */
  position: relative;
  margin-top: -10px;
}

.ranking-video-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.percentage-container {
  position: relative;
  display: none;
  width: 60%;
  height: 15px;
  background-color: #eee;
  margin-left: 10px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 50px;
}

.percentage-filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(205, 73, 73);
}

.votesPercent {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(15, 14, 14);

  font-size: 14px;
}
.ranking-position {
  opacity: 50;

  color: white;
  background-color: #1b1c1d;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  left: 0;
  padding: 10px;
  width: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 2px;
}
.ranking-goal-card.isActive {
  background-color: #1b1c1d;
  box-shadow: none;
}
.top10 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}
.top {
}
.ten {
  color: red;
}

.ranking-goal-card.isActive .ranking-goal-title {
  color: #ffffff;
}
.ranking-goal-card.isActive .ranking-goal-description {
  color: #ffffff;
}
.ranking-goal-card.isActive .separator {
  color: white;
}
.ranking-goal-card.isActive .votesPercent {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  color: #000000;
}
.ranking-goal-card.isActive .percentage-filled {
  color: #000000;
}
.ranking-goal-card.isActive .percentage-container {
  display: inline-block;
  height: 30px;
  width: 700px;
  margin-left: 100px;
}
.ranking-goal-card.isActive .ranking-position {
  opacity: 0;
  width: 0.05%;
  margin-top: 10px;
  height: 2%;
}

.ranking-goal-card.isActive:hover {
  box-shadow: none;
}

/* Login popup */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Add styles for the loading spinner or progress bar */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.soccer-ball-spinner {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */

  animation: spin 1s linear infinite; /* Apply the spinning animation */
}
.ball-container {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  overflow: hidden;
  border-radius: 60%;
}

.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 90%;
  padding: 32px;
  border-radius: 4px;
}

.login-modal h2 {
  margin-bottom: 16px;
  font-size: 32px;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.login-modal input {
  padding: 8px;
  border: 1px solid #121010;
  border-radius: 4px;
}

.login-modal button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.login-modal button[type="submit"]:hover {
  background-color: #34495e;
}

.close-modal {
  background: transparent;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.social-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.social-login-text {
  margin-bottom: 30px;
  margin-top: 30px;
}
.googleLogin,
.facebookLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* Nav Bar */
.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #000000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: -30px;
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left {
  width: 100px;
  display: flex;
  align-items: center;
}

.nav-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px; /* Adjust this value as needed */
}

.nav-top-goals-msg {
  margin: 20px;
  font-size: 14px;
  margin-left: 16px;
}
.nav-login-logo {
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 40px;
  height: 20px;
  display: flex;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}

.nav-link:hover {
  color: red;
}
.nav-search {
  display: flex;
  position: relative;
  width: 60%;
  margin-left: 200px;
}
.nav-search-responsive {
  display: none;
}

.nav-search input {
  width: 90%;
  max-width: 800px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.ranking-number-position {
  font-size: 20px;
}
.ranking-nav-login-logo {
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 40px;
  height: 20px;
  display: flex;
}
.ranking-nav-text-img {
}
.ranking-nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.ranking-title-position {
  margin-right: 30px;
  margin-left: -60px;
  font-size: 30px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}
.ranking-nav-link:hover {
  color: red;
}
.ranking-nav-left {
  display: flex;
  align-items: center;
}
.ranking-nav-title1 {
  margin-left: 175px;
  width: 200px;
  font-size: 20px;
}
.ranking-nav-title2 {
  color: RED;
  width: 200px;
  font-size: 25px;
}
.ranking-nav-top10 {
  font-size: 35px;
  margin-left: 100px;
}
.ranking-nav-top10-responsive {
  display: none;
}
.ranking-nav-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px; /* Adjust this value as needed */
  width: 70%; /* Decrease the width to 70% */
  margin: auto; /* Center the element */
}

.ranking-nav-text-img {
  margin-top: 0px;
}
.ranking-nav-link {
  font-size: 15px;
}
.ranking-goal-container label {
  display: flex;
  position: relative;
  color: white;
  background-color: black;
  width: 72.5%;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.ranking-goal-user-pick {
  margin-top: 20px;
}

/* Admin page */
.admin-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.admin-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.admin-page-form-group {
  margin-bottom: 10px;
}

.admin-page-input-field {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-page-submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-page-submit-button:hover {
  background-color: #45a049;
}
/* privacy policy*/
.privacy-policy-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  font-size: 15px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.privacy-policy-modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.privacy-policy-modal p {
  margin-bottom: 10px;
}

.privacy-policy-modal a {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.privacy-policy-modal a:hover {
  color: #333;
}

.privacy-policy-modal button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.privacy-policy-modal button:hover {
  background-color: #333;
}
.privacy-policy-link {
  margin-bottom: 15px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
}

/* Media queries for mobile devices up to iPhone Pro */
@media only screen and (max-width: 480px) {
  .top-goals-msg {
    margin: 16px;
    font-size: 12px;
    margin-left: 12px;
  }

  .ranking-goal-title {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    font-size: 12px;
    padding-left: 30px;
  }
  .ranking-goal-description {
    display: none;
  }

  .goal-description {
    display: none;
  }
  .goal-video {
  }
  .goal-title {
    font-size: 15px;
  }
  .vote-button {
    margin-top: -40px;
  }
  .votesPercent {
    font-size: 12px;
  }
  .ranking-position {
    font-size: 16px;
    padding: 8px;
    width: 18px;
    height: 60%;
  }
  .ranking-goal-card {
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }
  .ranking-video-iframe {
    position: absolute;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    margin-left: -10px;
    margin-top: 0px;
  }
  .ranking-goal-card.isActive {
    position: relative;
    box-shadow: none;
    height: 300px;
  }
  .percentage-container {
    display: none;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 60px;
    height: 18px;
    background-color: #eee;

    border-radius: 4px;
    bottom: 0; /* Keep the element at the bottom */
  }
  .ranking-goal-card.isActive .votesPercent {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
    color: #000000;
  }
  .ranking-goal-card.isActive .percentage-container {
    display: inline-block;
    height: 20px;
    width: 400px;
    margin-left: 20px;
  }

  .ranking-goal-title {
    width: 100%;
    font-size: 12px;
  }

  .ranking-goal-card.isActive .ranking-goal-title {
    width: 400px;
    margin-left: 0px;
    font-size: 7px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
  }

  .ranking-title-position {
    margin-right: 20px;
    margin-left: -20px;
    font-size: 30px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (max-width: 480px) {
  .landing-page {
    height: 70vh;
  }
  .landing-page .landing-page-btn {
    align-items: center;
    display: flex;
    position: relative;
    color: #ffffff;
    background-color: #ff0000;
    font-size: 20px;
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .landing-page-main-text {
    text-align: center;
    width: 500px;
    margin-top: 0px;
    margin-right: 150px;
    margin-bottom: 50px;
  }
  .landing-page-logo img {
    align-items: center;
    justify-content: center;

    margin-top: 0px;
    margin-bottom: 0px;
    height: 130px;
    width: 200px;
  }

  .landing-page-text1 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    font-size: 15px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .landing-page-text2 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .landing-page-main-text h1 {
    margin-right: 100px;
    margin-top: 80px;
    font-size: 60px;
  }
  .landing-page-logo {
  }
  .nav-bar {
    width: 90%;
  }
  .nav-title1,
  .ranking-nav-title1 {
    margin-left: 70px;
  }
  .nav-title1 {
    font-size: 13px;
  }
  .nav-title2 {
    font-size: 18px;
  }
  .nav-center {
    flex-direction: row;
  }
  .nav-login-logo,
  .ranking-nav-login-logo {
    margin-left: 2px;
    height: 16px;
  }
  .nav-link {
    font-size: 15px;
  }
  .nav-text-img {
    margin-top: 10px;
    margin-right: 140px;
    width: 230px;
  }
  .nav-top-goals-msg {
    margin: 10px;
    font-size: 12px;
    margin-left: 8px;
  }
  .nav-search {
    display: none;
  }
  .nav-search-responsive {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-search-responsive input {
    width: 80%;
    height: 40px;
    margin-right: 25px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    touch-action: manipulation;
    margin-top: 10px;
    font-size: 22px;
  }
  .nav-bar {
    width: 95%;
    height: 120px;
  }

  .nav-text-img img {
    margin-left: 60px;
    width: 230px;
  }

  .ranking-nav-title1 {
    margin-left: 50px;
    font-size: 12px;
    margin-right: 0px;
  }
  .ranking-nav-title2 {
    font-size: 20px;
    margin-right: 10px;
    margin-left: -10px;
  }
  .ranking-nav-top10 {
    display: none;
  }
  .ranking-nav-top10-responsive {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 550;
  }
  .ranking-goal-container label {
    margin-top: -25px;
    margin-left: 0px;
    width: 111%;
  }
  .ranking-container {
    padding: 0px;
    width: 92%;
    margin-bottom: 500px;
    margin-left: 0px;
  }
  .goal-video {
    height: 0;
  }
  .login-modal {
    margin-top: 100px;
    width: 60%;
  }
  .privacy-policy-modal {
    font-size: 11px;
  }
}
/* Media queries for landscape mode */
@media only screen and (min-device-width: 320px) and (max-device-width: 950px) and (orientation: landscape) {
  .nav-bar {
    height: 20px;
    width: 100%;
  }

  .nav-title1,
  .ranking-nav-title1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: 12px;
    width: 120px;
  }
  .nav-title2,
  .ranking-nav-title2 {
    margin-top: 0px;
    margin-left: 0px;
  }
  .nav-top-goals-msg {
    margin: 10px;
    font-size: 20px;
    margin-left: 0px;
  }
  .ranking-nav-top10 {
    margin-top: -10px;
  }
  .nav-search {
    width: 40%;
  }
  .nav-center {
    flex-direction: row;
  }
  .nav-login-logo,
  .ranking-nav-login-logo {
    height: 15px;
  }
  .nav-link,
  .ranking-nav-link {
    font-size: 12px;
  }
  .nav-search {
    width: 100%;
    margin-left: 100px;
  }

  .goal-card {
    height: 300px;
  }
  .goal-video iframe {
    margin-left: 50px;
    width: 80%;
    height: 60%;
  }
  .goal-title {
    font-size: 20px;
  }
  .goal-description {
    display: none;
  }

  .ranking-goal-title {
    font-size: 1em;
    padding-left: 30px;
  }
  .goal-video-iframe {
    height: 220px;
  }
  .votesPercent {
    font-size: 10px;
  }
  .ranking-nav-text-img {
    top: 0;
    position: absolute;
  }
  .ranking-position {
    font-size: 16px;
    padding: 8px;
    width: 18px;
    height: 60%;
  }
  .ranking-goal-card {
    margin-left: 0px;
    width: 100%;
  }
  .ranking-goal-card.isActive {
    position: relative;
    box-shadow: none;
    height: 320px;
  }
  .ranking-goal-card.isActive .ranking-goal-title {
    font-size: 10px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
  }
  .ranking-goal-card.isActive .percentage-container {
    display: inline-block;
    height: 25px;
    width: 400px;
    margin-left: 40px;
  }
  .ranking-goal-card.isActive .votesPercent {
    font-size: 20px;
  }
  .ranking-container {
    width: 100%;
    margin-bottom: 500px;
    margin-left: 0px;
  }
  .ranking-title-position {
    margin-right: 30px;
    margin-bottom: 15px;
    margin-left: -10px;
    font-size: 30px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  }

  .ranking-video-iframe {
    position: absolute;

    width: 95%;
    height: 72%;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .ranking-goal-container label {
    margin-left: 0px;
    width: 100%;
  }
  .ranking-nav-text-img {
    margin-top: 10px;
  }
  .login-modal {
    width: 50%;
  }
}
.privacy-policy-modal {
  margin-top: 5px;
  font-size: 8px;
  width: 100%;
}

/* Media queries for medium-sized screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .top-goals-msg {
    margin: 16px;
    font-size: 12px;
    margin-left: 12px;
  }
  .ranking-goal-title {
    font-size: 1.05em;
    padding-left: 35px;
  }
  .ranking-goal-description {
    opacity: 0;
  }
  .goal-video-iframe {
    height: 300px;
  }
  .votesPercent {
    font-size: 12px;
  }
  .ranking-position {
    font-size: 18px;
    padding: 10px;
    width: 20px;
    height: 65%;
  }
  .nav-bar {
    height: 100px;
  }
}

/* Navigation bar media queries for iPhone 12 Pro and similar devices */

/* Media queries for medium-sized screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nav-title1,
  .ranking-nav-title1 {
    margin-left: 32px;
  }
  .nav-search {
    width: 0%;
  }
  .nav-login-logo,
  .ranking-nav-login-logo {
    height: 18px;
  }
  .nav-link,
  .ranking-nav-link {
    font-size: 13px;
  }
  .nav-top-goals-msg {
    margin: 15px;
    font-size: 13px;
    margin-left: 10px;
  }
}
