@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #2c3e50;
  padding: 16px 0;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

main {
  padding: 32px 0;
}

footer {
  background-color: #333;
  padding: 16px 0;
  color: #f1f1f1;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 16px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
}
/* Goal list*/
.goal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.goal-card {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 800px; /* Limit the width of the goal card */
  width: 100%; /* Make the goal card responsive */
}
.goal-title {
  font-size: 28px; /* Increase the font size for better readability */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Center align the title */
}

.goal-description {
  font-size: 18px; /* Increase the font size for better readability */
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5; /* Improve the line spacing for better readability */
}

.goal-video {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.goal-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.goal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.vote-button {
  width: 90%;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background-color: #0b0c0a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s, transform 0.3s;
}
.vote-button:hover {
  background-color: #34495e;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ranking */

.ranking-goal-card {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
}

.ranking-goal-title {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ranking-goal-description {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
}
.ranking-position {
  color: rgb(179, 18, 18);
  margin-right: 30px;
  font-size: 35px;
}

.ranking-goal-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  margin-bottom: 16px;
}

.ranking-goal-video iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 350px;
}
/* Login popup /
/ Add this to your App.css file */

.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0eeee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  padding: 32px;
  border-radius: 4px;
}
.login-modal:hover {
  box-shadow: 0px 0px 5px 2px #918c8c;
}

.login-modal h2 {
  margin-bottom: 16px;
  font-size: 32px;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.login-modal input {
  padding: 8px;
  border: 1px solid #121010;
  border-radius: 4px;
}

.login-modal button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.login-modal button[type="submit"]:hover {
  background-color: #34495e;
}

.close-modal {
  background: transparent;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.social-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.googleLogin,
.facebookLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
/* Nav Bar */

/* Nav Bar */
/* Nav Bar */
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #1b1c1d;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-title {
  margin: 20px;
}

.top-goals-msg {
  margin: 20px;
  font-size: 14px;
  margin-left: 16px;
}

.nav-btn {
  background-color: #208606;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.nav-btn:hover {
  background-color: #05713f;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search input {
  width: 90%;
  max-width: 800px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
